@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam&family=Kaushan+Script&family=Merienda+One&family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    padding: 0;
    margin: 0;
    text-align: justify;
}

.container-fluid{
    float: left;
    width: 100%;
}

.container-fluid #title{
    font-family: 'Merienda One', cursive;
    font-size: 23px;
    color:lawngreen;
    padding: 0;
    margin: 0;
}

.collapse{
    align-items: center;
    justify-content: center;
}

.nav-item a{
    color: white;
}

.dropdown-menu{
    background-color: black;
}

.nav-item a:hover, .dropdown-menu a:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

.footer{
    font-family: cursive;
    color: black;
    text-align: center;
    width: 100%;
    padding: 3px;
}

footer span{
    font-family: 'Merienda One', cursive;
}

footer a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

#home-caption{
    display: block;
    margin: auto;
    margin-top: 150px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    text-align: center;
    color: white;
}

#home-caption h1{
    font-family: 'Kaushan Script', cursive;
}

.card-title{
    font-family: 'Marck Script', cursive;
}

#home-caption .lead{
    font-family: 'Kalam', cursive;
}

.closing{
    font-family: 'Courgette', cursive;
}

#sejarah-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#sejarah-caption h1{
    text-align: center;
}

#sejarah-caption img{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10px;
}

#beras-kencur-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#beras-kencur-caption h1{
    text-align: center;
}

#beras-kencur-caption img{
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}

#kunyit-asam-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#kunyit-asam-caption h1{
    text-align: center;
}

#kunyit-asam-caption img{
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}

#brotowali-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#brotowali-caption h1{
    text-align: center;
}

#brotowali-caption img{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10px;
}

#kunci-sirih-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#kunci-sirih-caption h1{
    text-align: center;
}

#kunci-sirih-caption img{
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 10px;
}

#feedback-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.454);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#feedback-caption h1{
    text-align: center;
}

#your-feedback-caption{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.555);
    font-family: 'Kalam', cursive;
    text-align: justify;
    color: white;
}

#your-feedback-caption h1{
    text-align: center;
}

.table{
    color: white;
}

.table #data{
    color: white;
}

.table #data:hover{
    color: black;
    background-color: white;
}